.text {
    margin-top: 50px;
    font-weight: bold;
    font-family: Poppins;
}

.box {
    border-radius: 5px;
    border: solid #FF8834;
    position: relative;
    display: flex;

}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.space2 {
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 20px;
}