.space {
    margin-top: 50px;
}

.space2 {
    margin-left: 10px;
    margin-top: 5px;
}

.space3 {
    margin-left: 5px;
    margin-bottom: -20px;

}

.space4 {
    margin-bottom: 35px;

}

.space5 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.space6 {
    padding-right: 10px;
}

.space7 {
    margin-bottom: 40px;
}

.space12 {
    margin-top: 15px;

}

.space13 {
    margin-top: 10px;

}

.space8 {
    margin-left: 5px;
}

.space9 {
    margin-left: 10px;
}

.space10 {
    margin-bottom: 5px;
    margin-left: 10px;
}

.space11 {
    margin-left: 10px;
    margin-top: 3px;
}

.space12 {
    text-align: center;
    margin-bottom: 10px;
}

.posisi {
    display: flex;
    position: relative;
}

.butIkut {
    background-color: white;
    border-color: white;
    color: rgba(255, 136, 52, 1);
    font-size: smaller;
}

.butIkut:hover {
    color: white;
}

.box {
    margin-top: 10px;
    border: solid 1px rgba(255, 136, 52, 1);
    margin-bottom: 10px;
    border-radius: 5px;
}

.mid {
    text-align: center;
}

.mid2 {
    /* align-content: center;
    text-align: center;
    align-items: center; */
    margin-top: 10px;
}

.kanan {
    text-align: right;
}

.text1 {
    color: rgba(115, 123, 125, 1);

}

.img {
    width: 20px;
    /* text-align: center;
    align-content: center;
    text-align: center;
    align-items: center; */
    /* padding-top: 10px; */
}

.mid2:hover {
    color: rgba(255, 136, 52, 1);
    background-color: white;
}

/* h6 input[type='text'] {
    border-color: white;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
    border: white;

} */

.box input:focus {
    outline: none;
}

.box input:focus-within {
    outline: none;
}

.det {
    display: flex;



}

.bag {
    justify-content: space-between;
    display: flex;
}

.text {
    color: black;
    margin-bottom: 5px;
    text-decoration: none;
}

.text:hover {
    color: rgba(255, 136, 52, 1);
}

.comment:focus-within {
    border-color: none;
}

.comment {
    border-color: white;
    border: none;
    /* height: 100px; */
    /* align-items: center;
    align-content: center;
    text-align: center; */
}